/* profile image */
* img{
    display: block;
    margin: auto;
}

.card-header img{
    width: 20rem;
    height: 20rem;
}

#projects .card img{
    width: 8rem;
    height: 6rem;

}
#projects .card {
    min-height: 20rem;
}

/* list of the skills and social media accounts */
.skills-contact ul{ 
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.skills-contact ul li{
    margin: auto;
}

li img {
 width: 5.5rem;
 height: 5.5rem;
}