/* profile image */
* img{
    display: block;
    margin: auto;
}

.card-header img{
    width: 20rem;
    height: 20rem;
}

#projects .card img{
    width: 8rem;
    height: 6rem;

}
#projects .card {
    min-height: 20rem;
}

/* list of the skills and social media accounts */
.skills-contact ul{ 
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.skills-contact ul li{
    margin: auto;
    padding: 1em;
    text-align: center;
}

li img {
 width: 5.5rem;
 height: 5.5rem;
}

.skills-contact ul li .fa-python{
    color:#3775A9;
}

.skills-contact ul li .fa-java{
    color: #4A8BC6;
}

.skills-contact ul li .fa-js-square{
    color: #F5DE19;
}

.skills-contact ul li .fa-html5{
    color: #E44D26;
}

.skills-contact ul li .fa-css3-alt{
    color: #32A4D6;
}


.skills-contact ul li .fa-sass{
    color: #DE9CBE;
}

.skills-contact ul li .fa-react{
    color: #74D9F5;
}

.skills-contact ul li .fa-github{
    color: black;
}

.skills-contact ul li .fa-reddit{
    color: #E44D26;
}

.skills-contact ul li .fa-free-code-camp{
    color: green;
}

.skills-contact ul li .fa-hackerrank{
    color: green;
}

.skills-contact ul li .fa-codepen{
    color: black;
}

.hide{
    display: none;
    height: 0px;
}

.show{
    display: contents;
}







