#main-home{
    padding:0.5em 2em 0.5em 2em;
}

#main-home header{
    height: 70%;
    margin-top:auto;
    margin-bottom: auto;
}
#main-home  .col-md-7 {
    max-height: 90%;
    margin-bottom:3em;
}
  

#main-home  .col-md-7 .img{
    max-height: 100%;
}